#search-form h1{display:flex;align-items:center}
#search-form h1{margin:0}
input{font-family:times-new-roman;font-weight:700}
input::placeholder{color:black}
#search-bar{display:flex}
#search-input{flex:1;font-size:inherit;border:none;outline:none}
#search-button{font-size:inherit}
#search-suggestions{
display:inline-block;
position:absolute;
background-color:#fff;
border:1px solid #ccc;
max-height:150px;
overflow-y:auto}
.suggestion{
padding:8px;
cursor:pointer}
.suggestion:hover{background-color:#f0f0f0}